.card-header{
    font-weight: 500;
    font-size: 1.1em;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #00A8E0;
}
.capitalize{
    text-transform: capitalize;
}
.porcentaje{
    position: absolute;
    width: 100px;
    height: 43px;
    left: 136px;
    top: 240px;
    font-weight: 500;
    font-size: 1.3em;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #9B9B9B;
}