<div *ngIf="data; else elseBlock" class=" column card animated fadeIn fast m-3">
    <div class="card-header text-center font-weight-normal text-wrap" >
        {{title}}
        <!-- <h1 class="small"></h1> -->
    </div>
    <app-google-chart [title]="title" [type]="type" [data]="data" [columnNames]="columnNames" [options]="options"
        [width]="width" [height]="height" class="d-flex flex-column"></app-google-chart>
    <p class="porcentaje">{{data[1].slice(1)}} %</p>
    <!--
        <p>{{type}}</p>
    -->
    <div class="card-block d-flex justify-content-center">
        <!--
        <h5 class="card-title p">Conci</h5>
        <p class="card-text p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem fuga totam quis soluta iusto consequuntur praesentium ad doloremque debitis. Voluptates ratione distinctio doloremque repellendus id similique repudiandae vel harum fugit!</p>
    -->
        <!-- <p class="card-text p"><small class="text-muted">{{heroe.aparicion}}</small></p> -->
        <label>{{inconsistencias}}</label>
        <button type="button" (click)="detalles(route)" class="btn btn-primary btn-lg btn-block">
            Ir a detalle
        </button>
        <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver más link...</a> -->
    </div>
</div>
<ng-template #elseBlock>No hay cartas<div class="text-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>