<div class="container">
    <div >
    <h1>
        Sistema de Conciliaciones
    </h1>
    <img src="assets/img/att.png">
    </div>
    <div class=" row form-group">
        <label for="exampleInputEmail1">Usuario </label>
        <input type="email" class="form-control" aria-describedby="emailHelp">
     </div>
     <div class=" row form-group">
        <label for="exampleInputEmail1">Confirmar Usuario </label>
        <input type="email" class="form-control" aria-describedby="emailHelp">
     </div>
    <div class="row form-group">
        <label for="exampleInputPassword1">Contraseña</label>
        <input type="password" class="form-control">
    </div>
    <div class="row form-group">
        <label for="exampleInputPassword1">Confirmar Contraseña</label>
        <input type="password" class="form-control">
    </div>
    <div class="row">
        <button type="button" class="btn btn-primary">Submit</button>
    </div>
        
</div>
