<div class="d-flex flex-wrap">
    <div class="col-2 m-2 d-flex justify-content-center">
        <form class="m-5"(ngSubmit)="onSubmit()" [formGroup]="profileForm">
            <div class=" row form-group">
                <label for="exampleInputEmail1">Fecha de Consulta:
                    <input type="date" class="form-control" aria-describedby="emailHelp" formControlName="date">
                </label>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="m-1 btn btn-primary">Consultar</button>
                <button class=" m-1 btn btn-primary" (click)="volver()">Volver</button>
            </div> 
         </form>
    </div>
    <div class="col">
        <div class="d-flex justify-content-center m-5">
            <google-chart #chart *ngIf="update" (select)="handler($event)" chart="data[0].chart" [title]="data[0].title" [type]='data[0].type' [data]="data[0].data" [columnNames]="data[0].columnNames" [options]="data[0].options" [width]="data[0].width" [height]="data[0].height">
            </google-chart>
        </div>
    </div>
</div>



